
.chat-container {
    width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    position: fixed;
    bottom:0;
    right:0;
    z-index:1000; 
    background: aliceblue;
    resize:vertical;
    /* display:grid;
    grid-template-rows: 80% 40px; */
    /* overflow:auto; */
    border-radius: 20px;
  }
  
  .notification{
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    font-weight: 700;
    transition: 0.5s ease-in-out;
    padding: 5px;
    display: flex;
    transition: 1s ease-in-out;
    justify-content: center;
  }

  .chat-box::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

  .chat-box {
    height: 440px;
    display: flex;
    flex-direction: column ;
    overflow: hidden;
    gap: 5px;
    margin-bottom: 10px;
    position: relative;  
  }

  .chat-box-container {
    height: 500px;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column ;
    gap: 5px;
    margin-bottom: 10px;
    position: relative;  
  }

  .message {
    margin: 5px 0;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
  }
  
  input {
    flex: 1;
    padding: 8px;
  }
  
  button {
    padding: 8px;
  }
  