@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #05335c;
    text-decoration: none !important;
}

a:hover {
    color: rgb(20, 104, 177);
    text-decoration: none;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #00eaff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0px 3px;
}


.overlay {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0 7 19 / 29%);
    /* Adjust color and opacity */
    transition: left 0.4s ease;
}

.dot:hover {
    height: 11px;
    width: 11px;
    background-color: #002c5c;
}

.dot.active {
    width: 20px;
    background-color: #002c5c;
}

.hero-content {
    width: 80%;
    margin: auto;
}

.hero-content h1,
.hero-content p,
.hero-content div {
    opacity: 0;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.hero-content h1 {
    font-weight: 700;
    line-height: 56px;
    transform: translateY(0) translateX(-20px);
    text-transform: uppercase;
    background: linear-gradient(to right, #027de9, #2dd4bf, #027de9);
    /* Gradient colors */
    -webkit-background-clip: text;
    /* For Safari and Chrome */
    transition: 0.5s;
    background-size: 200% auto;
    background-clip: text;
    /* For modern browsers */
    color: transparent;
    font-size: 2.5em;
}

.hero-content h1:hover {
    background-position: right center;
}

.hero-content p {
    transform: translateY(0%) translateX(20px);
    color: white;
}

.hero-content div {
    transform: translateY(20px) translateX(0%);
    color: white;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: #272b41;
    background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #272b41;
    font-weight: 500;
}

.h1,
h1 {
    font-size: 2.25rem;
}

.h2,
h2 {
    font-size: 1.875rem;
}

.h3,
h3 {
    font-size: 1.5rem;
}

.h4,
h4 {
    font-size: 1.125rem;
}

.h5,
h5 {
    font-size: 1rem;
}

.h6,
h6 {
    font-size: 0.875rem;
}

a {
    color: #2E3842;
    text-decoration: none;
}

a:hover {
    color: #09dca4;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    word-break: break-word;
    margin-bottom: 0 !important;
}

.ant-radio-group {
    display: flex !important;
    flex-direction: column !important;
}

.form-group {
    position: relative;
}

.card-label>label {
    background-color: #f8f9fa;
    color: #959595;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px auto auto 8px;
    padding: 0 7px;
    position: absolute;
    top: 9px;
    left: 1px;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
}

.form-control::placeholder {
    color: transparent;
}

.focus {
    top: -16px !important;
    left: 13px !important;
    font-size: 14px !important;
    color: #007bff !important;
    opacity: 1 !important;
}

button {
    height: 100%;
}

.card-label>input {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
    display: block;
    height: 50px;
    padding: 5px 15px 0;
    transition: border-color .3s;
    width: 100%;
}

.btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    background: linear-gradient(45deg, #3b82f6, #2dd4bf, #3b82f6);
    transition: 0.5s ease-in-out;
    color: #fff !important;
    background-size: 200% auto;
}

.btn-get-started:hover {
    background-position: right center;
    transform: scale(1.05);
}

.section-title h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.more-btn {
    display: inline-block;
    border: 1px solid #3291e6;
    padding: 6px 30px 8px 30px;
    color: #3291e6;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.more-btn .icon {
    font-size: 14px;
}

.more-btn:hover {
    color: #fff;
    background: #3291e6;
}

.custom-blog-card:hover {
    transform: scale(1.1);
}

.custom-blog-card {
    transition: 0.5s ease-in;
    max-width: 18rem;
}

.text-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2c4964;
}

.change-photo-btn {
    background-color: #1977cc;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative;
    transition: .6s ease-in;
    text-align: center;
}

.change-photo-btn:hover {
    background-color: #094b85;
    border-radius: 50px;
    color: #fff;
}

.change-photo-btn input.upload {
    bottom: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* button themes */
.grape-button,
.green-button,
.orange-button,
.pink-button,
.blue-button,
.teal-button,
.purple-button,
.red-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: .8em;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.grape-button:hover,
.orange-button:hover,
.green-button:hover,
.pink-button:hover,
.blue-button:hover,
.teal-button:hover,
.purple-button:hover,
.red-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.grape-button {
    background-image: linear-gradient(to right, #9dbf00 0%, #ccd79d 51%, #9dbf00 100%);
}

.orange-button {
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C 51%, #F2994A 100%);
}

.green-button {
    background-image: linear-gradient(to right, #76b852 0%, #b3de99 51%, #76b852 100%);
}


.pink-button {
    background-image: linear-gradient(to right, #d400b7 0%, rgb(215, 155, 166) 51%, #d400b7 100%);
}


.blue-button {
    background-image: linear-gradient(45deg, #3b82f6, #2dd4bf, #3b82f6);
}


.teal-button {
    background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA 51%, #50C9C3 100%);

}

.purple-button {
    background-image: linear-gradient(to right, #7a00ff 0%, #ad8bd2 51%, #7a00ff 100%);
}

.red-button {
    background-image: linear-gradient(to right, #fa3a3a 0%, #ffaaaa 51%, #ff3232 100%);
}

.shadow {
    position: fixed;
    background: #00000059;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
}

button {
    background-size: 200% auto !important;
    transition: 0.5s ease;
}

button:hover {
    transform: scale(1.05);
    background-position: right center;
}

.hide-scroolbar{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}